@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #8e908c;
}

.token.operator,
.token.punctuation {
  color: #3e3e3e;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
  color: #0550ae;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin {
  color: #718c00;
}

.token.inserted {
  color: #718c00;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #0550ae;
}

.token.function {
  color: #4271ae;
}

.token.regex,
.token.important {
  color: #e90;
}

.token.variable {
  color: #4271ae;
}

pre[class*="language-"] {
  background: white !important;
}

code[class*="language-"] {
  background: white !important;
  text-shadow: none !important;
  font-family: 'Menlo', 'Monaco', 'Courier New', monospace;
}